<h2><em><font color="maroon"><%=@board.name%></font></em></h2>
<br>
<form method='POST' action='/boards/<%=@board.id%>/delete'>
  <input type='hidden' name='_method' value = 'DELETE'>
  <input type='submit' value='Delete Board'>
</form>
<br>
<form method='POST' action='/boards/<%=@board.id%>'>
  <input type="hidden" name="_method" value="PATCH">
  <br>
  <font color='grey'>
    <p>Edit Name: <input type= "text" name="name"><p>
    <p>Add or delete trips:<p>
      <%@trips.each do |trip| %>
        <p><input type ='checkbox' name='[trip_ids][]' value=<%=trip.id%> id='<%=trip.id%>'
          <%='checked' if @board.trips.include?(trip)%>>
          <a href='<%=trip.url%>' target='_blank'><%=trip.name%></a><p></input>
      <% end %>
  </font>
  <input type="submit" value="Update Board">
</form>
<br>
