<h2><em><font color = "maroon"><%=@board.name%></font></em></h2>
<br>
<%if @board.trips.empty?%>
  <h4><font color="grey">Currently the board is empty.</font></h4>
<%else%>
  <% @board.trips.each do |trip| %>
    <h4><a href = <%="#{trip.url}"%> target = "_blank"><%= trip.name %></a><h4>
    <% end %>
<%end%>
<br>
<p>Add trips</a> | a href='/users/<%=@user.slug%>'>My Boards<p>

<form method='POST' action='/boards/<%=@board.id%>/delete'>
  <input type='hidden' name='_method' value = 'DELETE'>
  <input type='submit' value='Delete Board'>
</form>
